#title {
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  color: #09507D;
  margin-bottom: 30px;
}

#description {
  text-align: center;
  color: #404040;
  margin-bottom: 30px;
}

#graphContainer {
  margin: 0 auto;
}

svg {
  stroke-width: 1;
  stroke: black;
}
.y-axis, .x-axis, .legend, text {
  stroke-width: 0;
  fill: hsl(0, 0%, 42%);
}
.map {
  stroke-width: 0;
}
rect:hover {
  stroke-width: 2;
  stroke: orange;
}

.d3-tip {
  background-color: rgba(0,0,0,0.8);
  border-radius: 6px;
  color: white;
  text-align: center;
  padding: 0.5em;
}
